.details-wrapper {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
  display: flex;
}

.details {
  max-width: 1000px;
  margin: auto;
  ::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .game-gauge {
    position: absolute;
    top: 20px;
    right: 0;

    &-label {
      font-size: 20px;
      color: #fff;
      position: relative;
      bottom: 60px;
    }
  }
}

.game {
  &-banner {
    overflow: hidden;
    width: 100%;
    &-img {
      width: 100%;
      max-height: 500px;
      filter: blur(1px);
      transition: 200ms ease-in;
      height: 100%;
      &:hover {
        filter: blur(0px);
      }
    }
  }

  &-content {
    text-align: center;
    position: relative;
    top: -220px;
    background-color: rgba(58, 15, 15, 0.267);
  }

  &-header {
    &-title {
      font-size: 50px;
      width: 80%;
      color: #fff;
      font-weight: 700;
      line-height: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-release-date {
      color: #fff;
      font-weight: 700;
    }

    &-genres {
      color: #fff;
      font-weight: 700;
    }
  }
}
